@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");

html,
body {
  background-image: url(https://img5.goodfon.com/wallpaper/nbig/2/73/osen-listia-fon-derevo-kofe-colorful-kruzhka-chashka-vinta-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Numans", sans-serif;
  overflow: hidden;
}

header {
  font-family: "Damion", cursive;
  font-weight: bolder;
  text-align: center;
  padding-top: 150px;
  color: #cfa87a;
}

header a {
  all: unset;
  font-size: 40px;
}

header a:hover {
  all: unset;
  font-size: 40px;
}

.name-entry .input-group {
  width: 45%;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 45vh;
  width: 30vw;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  min-width: fit-content;
}

.card-header h3 {
  color: whitesmoke;
  align-items: center;
  text-align: center;
  font-family: "cursive";
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #cfa87a;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: whitesmoke;
  background-color: #cfa87a;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: whitesmoke;
}

.links {
  color: whitesmoke;
}

.card-footer a {
  margin-left: 4px;
  color: #cfa87a;
}
