* {
  box-sizing: border-box;
}

body {
  background-image: url(https://img5.goodfon.com/wallpaper/nbig/2/73/osen-listia-fon-derevo-kofe-colorful-kruzhka-chashka-vinta-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}
.container {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #333;
  width: 500px;
  max-width: 100%;
  min-height: 550px;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: bold;
  margin: 0;
}

.btn {
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid #b4552a;
  background-color: #b4552a;
  color: #f5f5f5;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

form {
  display: flex;
  align-items: space-between;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  gap: 35px;
}
form input {
  height: 30px;
}

.home-btn {
  text-decoration: none;
  align-items: center;
  color: #000000;
  font-weight: bold;
}
